* {
  font-family: "Tw Cen MT", Cambria, sans-serif;
}
.greenbox {
  position: absolute;
  width: 22rem;
  height: 30rem;
  background-color: #a3cb38;
  left: 50rem;
  z-index: 0;
  top: 0;
}
.nav-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
.nav-list li {
  z-index: 1;
  margin: 1rem 3rem;
}
.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.home {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  margin: 3rem 3rem;
  align-items: center;

  font-size: 1.3rem;
}
.home-details {
  width: 35%;
}
.home-details h1 {
  font-size: 3.5rem;
  margin: 0;
}
.home-details button {
  background-color: #a3cb38;
  font-size: 1.3rem;
  border: 0;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
}
.home img {
  z-index: 1;
}
.hustle {
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tile-bg {
  width: 37%;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
}
.tile-bg h1 {
  position: relative;
  top: -4rem;
  text-align: left;
  float: right;
  font-size: 6rem;
}
.schools {
  align-self: center;
}
.schools h2 {
  color: #a3cb38;
  font-size: 1.8rem;
  margin: 0.4rem;
}
.schools h4 {
  font-size: 1.4rem;
  margin: 0.4rem;
}
.schools p {
  font-size: 1.2rem;
  margin: 0.4rem;
  margin-bottom: 1.3rem;
}

.work {
  margin: 0 2rem;
  padding: 2rem;
  text-align: center;
}
.work h1 {
  font-size: 3.5rem;
}
.work > p {
  margin: 3rem;
  font-size: 1.2rem;
}
.gbox-sm {
  background-color: #a3cb38;
  height: 2.5rem;
  width: 1.8rem;
  position: relative;
  top: 2rem;
  left: 0.8rem;
}
.proj-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}
.cards {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  width: 15%;
}
.cards h2 {
  margin: 0;
}
.cards p {
  margin: 0.6rem 0rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.cards a {
  text-decoration: none;
  color: #a3cb38;
  font-weight: bold;
}
.achieve {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
}
.gbox-bg {
  width: 20%;
  height: 30%;
  background-color: #a3cb38;
  padding: 0 5rem;
}
.gbox-bg h1 {
  color: white;
  font-size: 7rem;
  line-height: 0.8;
}
.achievements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 3rem;
}
.achievements div {
  width: 30%;
  margin: 2rem;
}
.achievements hr {
  margin-left: 0;
  margin-bottom: 0.2rem;
  width: 1.5rem;
  height: 2px;
  background-color: #a3cb38;
}
.achievements p {
  margin-top: 0;
  font-size: 1.1rem;
}
.side-hustle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 0rem;
}
.side-hustle .text {
  width: 20%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-hustle .text h1 {
  line-height: 0.9;
  font-size: 6.5rem;
  font-weight: bold;
  color: #a3cb38;
  margin-bottom: 0;
}
.side-hustle .text p {
  font-size: 1.2rem;
}
.grid-container {
  display: grid;
  grid-template-areas: "a b" "a c" "d e";
}
.item1 {
  grid-area: a;
  padding-top: 3rem;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.footer > div {
  width: 30%;
  background-color: #a3cb38;
  float: center;
  padding: 2rem 0 3rem 6rem;
}
.footer > div h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
}
.footer > div p {
  font-size: 1.2rem;
  text-decoration: underline;
}
.footer img {
  height: 1.2rem;
  width: 1.2rem;
}
.footer > h4 {
  color: black;
  font-size: 1.2rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  align-self: flex-end;
  font-weight: normal;
}
